.detalhes
{
    padding: 10%;
    background-image: linear-gradient(rgb(45, 97, 160),rgb(161, 0, 161));

    .container
    {
        display: flex;
        
        @media (max-width: 640px)
        {
            display: block;
        }
    }


    &__imagem
    {
        max-width: 50%;
        overflow: hidden;
        margin-left: 5%;

        @media (max-width: 640px) 
        {
        max-width: 100%;
        margin-top: 10%;
        }

        img 
        {
        width: 100%;
        height: auto;
        display: block;
        }
    }

    &__musica
    {
        color: white;
        h2
        {
            font-size: 35px;
        }
        p
        {
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        @media (max-width: 640px)
        {
            h2
            {
                font-size: 30px;
            }
            p
            {
                font-size: 25px;
            }
        }
    }
}